a, i {
    cursor: pointer;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.navbar-fixed-top .navbar-nav > li > a {
    font-size: 18px;
}

.main-wrapper {
    margin-top: 53px;
}
.main-wrapper .content-wrapper {
    padding-top: 15px;
    height: calc(100vh - 53px);
}
.main-wrapper .sidebar-wrapper {
    background-color: #333333;
    height: calc(100vh - 53px);
    padding: 0;
}
.main-wrapper .sidebar-wrapper .sidebar-item {
    padding: 10px;
    padding-left: 14px;
    border: 1px solid #222;
}
.main-wrapper .sidebar-wrapper .sidebar-item a {
    color: #eee;
}
.main-wrapper .sidebar-wrapper .sidebar-item .icon {
    font-size: 16px;
}
.main-wrapper .sidebar-wrapper .sidebar-item .text {
    font-size: 18px;
    margin-left: 15px;
}

.login-page {
    position: relative;
    height: 100vh;
    background: #eeeeee;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-page .login-form-wrapper {
    width: 20vw;
}
.login-page .login-brand {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 10px;
}


